* {
  border: none;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
}

body {
  width: 100vw;
  height: 100vh;
}
#root,
.App {
  width: 100%;
  height: 100%;
  background-image: url(./assets/day.jpg);
  background-size: cover;
  display: flex;
}

.left-part {
  width: 70%;
}
.right-part {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.left-part,
.right-part {
  height: 100%;
}

.top-part,
.bottom-part {
  width: 100%;
  margin-left: 100px;
}

.top-part {
  height: 70%;
}

.bottom-part {
  height: 30%;
}

#company-name {
  padding-top: 50px;
}

.weather-display {
  background-color: transparent;
  height: 150px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#temperature {
  font-size: 5rem;
}
#city {
  font-size: 3rem;
}
#time {
  font-size: 1rem;
}
#weather {
  font-size: 1rem;
}
#weather-icon {
  width: 60px;
  height: 60px;
}

#location-input {
  background-color: transparent;
  color: rgba(210, 210, 210, 0.75);
  border-bottom: 1px solid rgba(210, 210, 210, 0.75);
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  font-size: 1.2rem;
}
#location-input:focus {
  outline: none;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.location-suggestions {
  margin-top: 50px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border-bottom: 1px solid rgba(210, 210, 210, 0.75);
}

.location-suggestions p {
  margin-top: 25px;
}
.location-suggestions a {
  all: unset;
  color: rgba(210, 210, 210, 0.75);
}
#last-suggestion {
  margin-bottom: 50px;
}

.weather-details {
  margin-top: 50px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
.description {
  color: rgba(210, 210, 210, 0.75);
}
#header,
.quanity {
  font-size: 1.2rem;
  color: white;
}

.detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
