@media screen and (min-width: 1300px) {
  * {
    border: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Poppins", sans-serif;
    transition: all 0.5s;
    overflow: hidden;
  }

  body {
    width: 100vw;
    height: 100vh;
  }

  #root,
  .App {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: black;
    display: flex;
  }

  .App {
    background-image: url(./assets/evening.jpg);
    animation: backgroundFadeIn 0.5s forwards;
  }

  @keyframes backgroundFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .left-part {
    width: 70%;
  }
  .right-part {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
  }

  .left-part,
  .right-part {
    height: 100%;
  }

  .top-part,
  .bottom-part {
    width: 100%;
    margin-left: 100px;
  }

  .top-part {
    height: 70%;
  }

  .bottom-part {
    height: 30%;
  }

  #company-name {
    padding-top: 50px;
  }
  #powered-by {
    color: rgba(210, 210, 210, 0.75);
  }

  .weather-display {
    background-color: transparent;
    height: 150px;
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
  }

  #temperature {
    font-size: 6rem;
    text-overflow: ellipsis;
    max-width: initial;
  }
  #city {
    font-size: 3rem;
    text-overflow: ellipsis;
    max-width: initial;
  }
  #time {
    font-size: 1rem;
    text-overflow: ellipsis;
    max-width: initial;
  }
  #weather {
    font-size: 1rem;
    text-overflow: ellipsis;
    max-width: initial;
  }
  #weather-icon {
    width: 60px;
    height: 60px;
  }

  #location-input {
    background-color: transparent;
    color: rgba(210, 210, 210, 0.75);
    border-bottom: 1px solid rgba(210, 210, 210, 0.75);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    font-size: 1.2rem;
  }
  #location-input:focus {
    outline: none;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .location-suggestions {
    margin-top: 50px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom: 1px solid rgba(210, 210, 210, 0.75);
  }

  .location-suggestions p {
    margin-top: 25px;
    animation: textSlideOut 1s forwards;
  }
  .location-suggestions a {
    all: unset;
    color: rgba(210, 210, 210, 0.75);
  }
  .location-suggestions p:hover {
    animation: textSlideIn 0.75s forwards;
  }

  .location-suggestions p:hover > a {
    color: white;
  }

  @keyframes textSlideIn {
    0% {
      transform: translate(0px);
    }
    100% {
      transform: translate(15px);
    }
  }
  @keyframes textSlideOut {
    0% {
      transform: translate(15px);
    }
    100% {
      transform: translate(0px);
    }
  }

  #last-suggestion {
    margin-bottom: 50px;
  }

  .weather-details {
    margin-top: 50px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .description {
    color: rgba(210, 210, 210, 0.75);
  }
  #header,
  .quanity {
    font-size: 1.2rem;
    color: white;
  }

  .detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }

  .right-part {
    animation: rightPartSlideIn 1s 1;
  }

  @keyframes rightPartSlideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .weather-display {
    animation: weatherDisplaySlideIn 1s;
  }

  @keyframes weatherDisplaySlideIn {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translate(0);
      opacity: 1;
    }
  }

  #company-name {
    animation: companyNameSlideIn 1s 1;
  }

  #powered-by {
    animation: companyNameSlideIn 2s 1;
  }
  @keyframes companyNameSlideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .weather-details {
    animation: weatherDetailsSlideIn 1s;
  }

  @keyframes weatherDetailsSlideIn {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  #heading {
    margin-top: 100px;
    font-size: 4rem;
    -webkit-text-stroke: 1px white;
    color: transparent;
    animation: companyNameSlideIn 2s 1;
  }

  .loading {
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    display: flex;
    animation: loading 2s linear forwards;
  }
  @keyframes loading {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 0;
    }
  }
  .mobile {
    display: none;
  }
  .desktop {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: transparent;
  }
}
@media screen and (max-width: 450px) {
  * {
    border: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Poppins", sans-serif;
    transition: all 0.5s;
    overflow: hidden;
  }

  body {
    width: 100vw;
    height: 100vh;
    background-color: rgba(15, 15, 15, 1);
  }

  #root,
  .App {
    width: 100%;
    height: 100%;
    background-image: url("./assets/mobile/mobileDay.jpg");
    background-size: cover;
  }

  .mobile {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    display: normal;
  }
  .desktop {
    display: none;
  }
  .top-bar,
  .footer {
    height: 7%;
    background-color: rgba(15, 15, 15, 0.5);
    backdrop-filter: blur(5px);
  }
  .footer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .top-bar {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .isInDetails {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
  }
  .details {
    width: 100%;
    height: 100%;
  }
  .detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  .description {
    justify-self: flex-start;
    color: rgba(210, 210, 210, 0.75);
  }
  .quanity {
    justify-self: flex-end;
    font-size: 1.1rem;
  }
  #header {
    font-size: 1.2rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    border-bottom: 1px solid white;
  }
  .footerIsInDetails {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .weather-details {
    margin-top: 20%;
  }
  .top {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #temperature {
    font-size: 6rem;
  }
  #city {
    font-size: 1.5rem;
  }

  .weather-display {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .middle-part {
    height: 86%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  #location-icon {
    width: 30px;
    height: 30px;
  }
  #weather-icon {
    width: 50px;
  }
  #temp {
    font-size: 6rem;
  }
  .weather {
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .icon {
    width: 50px;
  }
  #desc {
    font-size: 2rem;
  }
  #weather-icon {
    width: 50px;
  }
  .input {
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 100px;
    z-index: 1;
    width: 60%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    border-radius: 15px;
    animation: inputSlide 1s forwards;
  }
  .input input {
    width: 70%;
    height: 30px;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.25rem;
    border-bottom: 1px solid white;
  }
  @keyframes inputSlide {
    0% {
      opacity: 0;
      transform: translate(0, -100%);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  #search-img {
    width: 30px;
    height: 30px;
  }
  #search-button {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    background-color: transparent;
  }
  .footer-btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
  }

  .weather-display {
    animation: leftSlideIn 1s forwards;
  }
  @keyframes leftSlideIn {
    0% {
      opacity: 0;
      transform: translate(-100%, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .top-bar {
    animation: topSlideIn 1s 1 forwards;
  }
  @keyframes topSlideIn {
    0% {
      opacity: 0;
      transform: translate(0, -100%);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .footer {
    animation: bottomSlideIn 2s 1 forwards;
  }
  @keyframes bottomSlideIn {
    0% {
      opacity: 0;
      transform: translate(0, 100%);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

@media screen and (min-width: 451px) and (max-width: 1299px) {
  * {
    border: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Poppins", sans-serif;
    transition: all 0.5s;
    overflow: hidden;
  }

  body {
    width: 100vw;
    height: 100vh;
  }

  #root,
  .App {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: black;
    display: flex;
  }

  .App {
    background-image: url(./assets/evening.jpg);
    animation: backgroundFadeIn 0.5s forwards;
  }

  @keyframes backgroundFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .left-part {
    width: 75%;
  }
  .right-part {
    width: 35%;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
  }

  .left-part,
  .right-part {
    height: 100%;
  }

  .top-part,
  .bottom-part {
    width: 100%;
    margin-left: 70px;
  }

  .top-part {
    height: 70%;
  }

  .bottom-part {
    height: 30%;
  }

  #company-name {
    padding-top: 50px;
  }
  #powered-by {
    color: rgba(210, 210, 210, 0.75);
  }

  .weather-display {
    background-color: transparent;
    height: 150px;
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
  }

  #temperature {
    font-size: 3rem;
    text-overflow: ellipsis;
    max-width: initial;
  }
  #city {
    font-size: 2rem;
    text-overflow: ellipsis;
    max-width: initial;
  }
  #time {
    font-size: 1rem;
    text-overflow: ellipsis;
    max-width: initial;
  }
  #weather {
    font-size: 0.9rem;
    text-overflow: ellipsis;
    text-align: center;
    max-width: initial;
  }
  #weather-icon {
    width: 60px;
    height: 60px;
  }

  #location-input {
    background-color: transparent;
    color: rgba(210, 210, 210, 0.75);
    border-bottom: 1px solid rgba(210, 210, 210, 0.75);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    font-size: 1.2rem;
  }
  #location-input:focus {
    outline: none;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .location-suggestions {
    margin-top: 50px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom: 1px solid rgba(210, 210, 210, 0.75);
  }

  .location-suggestions p {
    margin-top: 25px;
    animation: textSlideOut 1s forwards;
  }
  .location-suggestions a {
    all: unset;
    color: rgba(210, 210, 210, 0.75);
  }
  .location-suggestions p:hover {
    animation: textSlideIn 0.75s forwards;
  }

  .location-suggestions p:hover > a {
    color: white;
  }

  @keyframes textSlideIn {
    0% {
      transform: translate(0px);
    }
    100% {
      transform: translate(15px);
    }
  }
  @keyframes textSlideOut {
    0% {
      transform: translate(15px);
    }
    100% {
      transform: translate(0px);
    }
  }

  #last-suggestion {
    margin-bottom: 50px;
  }

  .weather-details {
    margin-top: 20px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .description {
    color: rgba(210, 210, 210, 0.75);
    font-size: 0.8rem;
  }
  #header,
  .quanity {
    font-size: 1.1rem;
    color: white;
  }

  .detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }

  .right-part {
    animation: rightPartSlideIn 1s 1;
  }

  @keyframes rightPartSlideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .weather-display {
    animation: weatherDisplaySlideIn 1s;
  }

  @keyframes weatherDisplaySlideIn {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translate(0);
      opacity: 1;
    }
  }

  #company-name {
    animation: companyNameSlideIn 1s 1;
  }

  #powered-by {
    animation: companyNameSlideIn 2s 1;
  }
  @keyframes companyNameSlideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .weather-details {
    animation: weatherDetailsSlideIn 1s;
  }

  @keyframes weatherDetailsSlideIn {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  #heading {
    margin-top: 100px;
    font-size: 2.5rem;
    -webkit-text-stroke: 1px white;
    color: transparent;
    animation: companyNameSlideIn 2s 1;
  }

  .loading {
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    display: flex;
    animation: loading 2s linear forwards;
  }
  @keyframes loading {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 0;
    }
  }
  .mobile {
    display: none;
  }
  .desktop {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: transparent;
  }
}
