* {
  border: none;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

#root,
.App {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: black;
  display: flex;
}

.App {
  background-image: url(./assets/evening.jpg);
  animation: backgroundFadeIn 0.5s forwards;
}

@keyframes backgroundFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.left-part {
  width: 70%;
}
.right-part {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.left-part,
.right-part {
  height: 100%;
}

.top-part,
.bottom-part {
  width: 100%;
  margin-left: 100px;
}

.top-part {
  height: 70%;
}

.bottom-part {
  height: 30%;
}

#company-name {
  padding-top: 50px;
}
#powered-by {
  color: rgba(210, 210, 210, 0.75);
}

.weather-display {
  background-color: transparent;
  height: 150px;
  width: 65%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

#temperature {
  font-size: 6rem;
  text-overflow: ellipsis;
  max-width: initial;
}
#city {
  font-size: 3rem;
  text-overflow: ellipsis;
  max-width: initial;
}
#time {
  font-size: 1rem;
  text-overflow: ellipsis;
  max-width: initial;
}
#weather {
  font-size: 1rem;
  text-overflow: ellipsis;
  max-width: initial;
}
#weather-icon {
  width: 60px;
  height: 60px;
}

#location-input {
  background-color: transparent;
  color: rgba(210, 210, 210, 0.75);
  border-bottom: 1px solid rgba(210, 210, 210, 0.75);
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  font-size: 1.2rem;
}
#location-input:focus {
  outline: none;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.location-suggestions {
  margin-top: 50px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border-bottom: 1px solid rgba(210, 210, 210, 0.75);
}

.location-suggestions p {
  margin-top: 25px;
  animation: textSlideOut 1s forwards;
}
.location-suggestions a {
  all: unset;
  color: rgba(210, 210, 210, 0.75);
}
.location-suggestions p:hover {
  animation: textSlideIn 0.75s forwards;
}

.location-suggestions p:hover > a {
  color: white;
}

@keyframes textSlideIn {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(15px);
  }
}
@keyframes textSlideOut {
  0% {
    transform: translate(15px);
  }
  100% {
    transform: translate(0px);
  }
}

#last-suggestion {
  margin-bottom: 50px;
}

.weather-details {
  margin-top: 50px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
.description {
  color: rgba(210, 210, 210, 0.75);
}
#header,
.quanity {
  font-size: 1.2rem;
  color: white;
}

.detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.right-part {
  animation: rightPartSlideIn 1s 1;
}

@keyframes rightPartSlideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.weather-display {
  animation: weatherDisplaySlideIn 1s;
}

@keyframes weatherDisplaySlideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

#company-name {
  animation: companyNameSlideIn 1s 1;
}

#powered-by {
  animation: companyNameSlideIn 2s 1;
}
@keyframes companyNameSlideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.weather-details {
  animation: weatherDetailsSlideIn 1s;
}

@keyframes weatherDetailsSlideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#heading {
  margin-top: 100px;
  font-size: 4rem;
  -webkit-text-stroke: 1px white;
  color: transparent;
  animation: companyNameSlideIn 2s 1;
}

.loading {
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  display: flex;
  animation: loading 2s linear forwards;
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}
